{% extends 'payments/base.html' %}

{% block page_title %}
	<p>Clients</p>
{% endblock %}

{% block page_breadcrumb %}
	<li>
		<a href="{% url 'payments:clients' %}">
			<i class="fa fa-users"></i> <span>Clients</span>
		</a>
	</li>
{% endblock %}

{% block page_subtitle %}
	<p>All Clients</p>
{% endblock %}

{% block main_content %}
<table id="my_table_id" class="myTable">
	<thead>
		<tr>
			<th>Client Name</th>
		</tr>
	</thead>
	<tbody>
		{% for client in object_list %}
			<tr>
				<td>
					{{ client.name|capfirst }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready( function () {
			$('#my_table_id').DataTable();
		} );
	</script>
{% endblock %}