{% extends 'payments/base.html' %}
{% load my_tags %}

{% block page_title %}
	<p>Orders</p>
{% endblock %}

{% block page_breadcrumb %}
	<li>
		<a href="{% url 'payments:orders' %}">
			<i class="fa fa-list"></i> <span>Orders</span>
		</a>
	</li>
{% endblock %}

{% block page_subtitle %}
	<p>All Orders</p>
{% endblock %}

{% block main_content %}
<table id="my_table_id" class="myTable">
	<thead>
		<tr>
			<th>Date</th>
			<th>Client Name</th>
			<th>Product Name</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Rate</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		{% for order in object_list %}
			<tr>
				<td>
					<a href="{{ order.get_absolute_url }}">
						{{ order.date_of_order }}
					</a>
				</td>
				<td>
					{{ order.client|capfirst }}
				</td>
				<td>
					{{ order.product|capfirst }}
				</td>
				<td>
					{{ order.description|capfirst }}
				</td>
				<td>
					{{ order.quantity }}
				</td>
				<td>
					<i class="fa fa-inr" aria-hidden="true"></i> {{ order.rate|floatformat }}
				</td>
				<td>
					<i class="fa fa-inr" aria-hidden="true"></i> {{ order.quantity|cal:order.rate }}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block scripts %}
	<script>
		$(document).ready( function () {
			$('#my_table_id').DataTable();
		} );
	</script>
{% endblock %}